<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1175573452847916</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1175573452847916</string>
	<key>FacebookDisplayName</key>
	<string>Hark</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Compact-Rounded-Regular</string>
		<string>SF-Compact-Rounded-Semibold</string>
		<string>SF-Compact-Rounded-Medium</string>
		<string>SF-Compact-Rounded-Bold</string>
		<string>SF-Compact-Rounded-Thin</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
	</array>
</dict>
</plist>
